[2013-10-10 00:59] scull7 opened #1 "Attempting to use..."
Hi I'm attempting to use this module, however I cannot seem to get it to work right.  I've created a gist that attempts to encrypt a message using the node-mcrypt module and also through the php mcrypt_encrypt function.  Hopefully I'm just missing something.

https://gist.github.com/scull7/6911294

Thank you for creating this module and taking the time to look at my issue.

[2013-10-10 20:36] #1 closed, assigned to nobody

[2013-11-28 14:20] m--stein opened #2 "Invalid key size error"
Hi,
i have problem with this short sample i found on stackoverflow:

var mcrypt = require('mcrypt');

var bfEcb = new mcrypt.MCrypt('blowfish', 'ecb');

bfEcb.open('typeconfig.sys^_-');

var cipherText = new Buffer('2tGiKhSjSQEjoDNukf5BpfvwmdjBtA9kS1EaNPupESqheZ1TCr5ckEdWUvd+e51XWLUzdhBFNOBRrUB5jR64Pjf1VKvQ4dhcDk3Fdu4hyUoBSWfY053Rfd3fqpgZVggoKk4wvmNiCuEMEHxV3rGNKeFzOvP/P3O5gOF7HZYa2dgezizXSgnnD6mC

[2013-12-26 22:41] #2 closed, assigned to nobody

[2014-01-11 16:37] Vic063 opened #5 "IV length error with AES (Rijndael) 256"
Hello,

I just tried to decrypt a 64 bytes buffer using mcrypt with NodeJS. I supplied a 32 bytes key length and a 16 bytes IV length but there is an error saying that the IV length is incorrect.

Here is my code:
var crypto = require('mcrypt').MCrypt;

function decrypt( data, key, iv, len )
{
     console.log('Deciphering a buffer of size ' + len + ' bytes');
     var aes = new crypto('rijndael-2

[2014-03-12 13:18] cosmicnag opened #6 "Slight difference in ciphertext between node and php"
Hi,

There is a slight difference towards the end when using php-mcrypt and node-mcrypt
I'm using aes(rjindael)-128, ecb mode. (Base64 encoded)

PHP Ciphertext :
CbG0ejjpHv11tLbkGU7Tko1AMW+R7wuFyT6iO07klAoXbV46jDtAF6b9lBASaVdyf2A9dCVc/zAP0hrXOewMqaeI1hmyQHtGZgFUnZlUVH8=

Node-Mcrypt ciphertext :
CbG0ejjpHv11tLbkGU7Tko1AMW+R7wuFyT6iO07klAoXbV46jDtAF6b9lBASaVdyf2A9dCVc/zAP0hrXOewMqXT3y9zfxTXPagYN1UQ

[2014-03-18 05:05] saada opened #7 "OSX Mavericks Support"
Any idea how to install the dependencies on an OSX machine?

[2014-03-26 12:03] majimboo opened #8 "Keeps crashing on CentOS"
It just keeps crashing on centOS. when on the line to `decrypt`. Could it be a missing library? I only installed `libmcrypt-devel`, can't find `libmcrypt4` in centos.

[2014-04-20 15:42] #5 closed, assigned to nobody

[2014-04-20 16:42] #6 closed, assigned to nobody

[2014-06-17 13:21] devreq opened #9 "Rijndale-128 CBC and strange padding \0\0"
Thank you for your module.
I have a problem with decrypt on c#, the final key(Rijndale-128 CBC), generate in node.js contains \0\0 padding. Can I remove this?

p.s in node.js encrypt/decrypt everything works well

[2014-06-25 13:04] #9 closed, assigned to nobody

[2014-09-09 13:19] Gybra opened #10 "Invalid key size. You can determine key sizes using getSupportedKeySizes()"
Hi,

on this line when using blowfish in ecb bfEcb.open('typeconfig.sys^_-'); i get this error:

Invalid key size. You can determine key sizes using getSupportedKeySizes()

Also if i call the method above getSupportedKeySizes() i get only an empty array

is it possible to fix? i need this to work!

Thanks

[2014-09-09 13:45] #10 closed, assigned to nobody

[2014-12-03 17:15] ffranco-daitan opened #11 "Doesn't build on windows"
Trying to install this extension on windows fails with this error:

..\src\mcrypt.cc(7): fatal error C1083: Cannot open include file: 'mcrypt.h': No such file or directory [**********\node_modules\mcrypt\build\mcrypt.vcxproj]

Any ideas on how to fix that?

[2014-12-30 07:46] qstyler opened #12 "Pkcs1 support, or any other padding"
Hi! Does your module have any sort of padding support?
Or should I pad  the message by myself?

[2014-12-30 13:06] qstyler opened #13 "Wrong encryption with cyrillic letters."
[code]
Won't output the source message. This will come out:
**@>25@:0! @825B, 4@C7LO, :0: 45;0 20H8? '5< 70=8<05B5AL?**

But when I receive a message encrypted with cyrillic letters on the other side
[code]
It works just fine.

[2015-01-18 16:41] tugrul commented on #13
Works fine with Buffer wrapped plaintext. There is an issue about javascript text and utf8

[code]

[2015-01-18 17:05] tugrul commented on #13
I fixed this issue and published.

Can you `npm update` and try again?

Thanks

[2015-01-18 17:05] #13 closed

[2015-01-18 17:11] tugrul commented on #7
@HilkoLantinga the build fails because compiler says ~I didn't find the mcrypt.h header in your include path~

Can you check is there a mcrypt.h file in this path? https://github.com/tugrul/node-mcrypt/blob/master/binding.gyp#L10

I don't know the header file where in the OSX. Also you can find the library path and change `binding.gyp` and rebuild it.

Yeah the library not compatible with node v0.

[2015-01-18 17:13] HilkoLantinga commented on #7
Please use https://github.com/rvagg/nan to secure future compatibility as well.

[2015-01-18 18:30] tugrul commented on #7
@HilkoLantinga thank you so i published a new version. It looks like OK on OSX yosemite and node v0.11

[2015-01-18 18:40] HilkoLantinga commented on #7
You are awesome! I'll do some quick tests with macports, brew, 10.x, 11.x and io.js as soon as I'm out of the restaurant.

[2015-01-18 20:19] HilkoLantinga commented on #7
With Brew it does not work, still complains about the .h file, when I modify the bindings to "/usr/local/Cellar/mcrypt/2.6.8/include/" it gives: ld: library not found for -lmcrypt

[2015-01-20 14:25] drewlesueur opened #14 "Having an issue with blowfish encryption in 0.0.9 (0.0.7 worked)"
Thanks for this library. This may be user error -- in version 0.0.7 this worked, and in 0.0.9 this doesn't

    var MCrypt = require('mcrypt').MCrypt;
    var m = new MCrypt('blowfish', 'nofb')
    m.validateKeySize(false)
    m.open('FooBar', '12345678')
    var t = m.encrypt('some random text')
    var b = t.toString('base64')
    console.log(b)

In v0.0.7 I get `R95YegoSAtz/LqPs16zkPw==`

In v0

[2015-01-21 15:32] tugrul commented on #14
Thank you. I fixed and published to npm as 0.0.10

[2015-01-21 15:32] #14 closed

[2015-01-30 14:12] iammapping opened #15 "The encrypt result is not equal between 0.0.7 and 0.0.10"
When I updated mcrypt module to 0.0.10 today, I found the result of encrypt with `rijndael-128` and`cbc` going wrong.

The test code :
[code]

[2015-01-31 14:27] tugrul commented on #15
Also published to npm as 0.0.11

Thanks

[2015-01-31 14:27] #15 closed

[2015-02-19 03:57] MauriceButler commented on #7
Any progress on using nan as this would solve many issues not just this OSX one?

If not I will have a crack at it but my C foo is very old...

[2015-02-19 19:31] alanshaw opened #16 "Can't install on node 0.12 or iojs 1.2.0"
npm log as follows:

[code]

[2015-02-24 15:23] jomo commented on #16
same problem here

[2015-02-24 15:46] tugrul commented on #16
I'm going to publish release but i don't have free time to deal with this

[2015-02-27 19:25] davidzhaozz commented on #16
Any update on the fixes? Thank you

[2015-02-28 19:50] tugrul commented on #16
I refactored code to NAN compatibility. Also published release to NPM.

Looks like work fine with node 0.10 but i didn't tried with node 0.12 or iojs 1.2.0.

Can you try with there version and report me result of them?

Thanks

[2015-02-28 19:54] davidzhaozz commented on #16
Yeah, this is issue with 0.12.  I rolled back to 0.10 works fine for now.  thank you

[2015-02-28 19:55] tugrul commented on #7
#16

[2015-02-28 19:55] #7 closed

[2015-02-28 19:57] tugrul commented on #16
@davidzhaozz the release also should work with 0.12.

[2015-03-01 12:09] alanshaw commented on #16
I couldn't get the new version to install on node 0.12:

[code]

[2015-03-01 15:16] jomo commented on #16
I'm getting the same error as @alanshaw with both node v0.12 and iojs v1.4.2.

[2015-03-01 22:38] tugrul commented on #16
I updated npm and repo and works for mine node 0.12. Can you test?

[2015-03-01 22:45] jomo commented on #16
Works with iojs v1.4.2 and node v0.12. thanks!

[2015-03-01 23:54] MauriceButler commented on #7
Very good. All working on io.js and node 0.0.12

[2015-03-02 07:23] alanshaw commented on #16
Same here, working on 1.4.2 and 0.12 - THANK YOU :sparkles:

[2015-03-02 07:40] #16 closed

[2015-03-02 10:09] William-Yeh commented on #8
@ewein
I have an example without segmentation fault on CentOS 6.6:
https://gist.github.com/William-Yeh/caa3b1acbbc91f5a308b

[2015-03-04 13:48] #8 closed

[2015-03-21 02:29] scalabl3 commented on #12
or removing padding during decrypt, like PKCS#5 :)

[2015-03-30 09:44] thinkv opened #17 "Failed at the mcrypt@0.0.13 install script"
Hi guys, trying to compile on heroku, seem to keep getting this?

any ideas?

thanks!
-----> Building Meteor App Bundle
       npm-container: updating npm dependencies -- jscryptor, mcrypt...
       npm WARN package.json packages-for-meteor-smartpackage-1dwsjqb@0.0.0 No
       description
       npm WARN package.json packages-for-meteor-smartpackage-1dwsjqb@0.0.0 No
       repository field.

[2015-03-30 11:12] tugrul commented on #17
Error says: "Looks like libmcrypt and header files are missing."

I don't have an idea how can you prepare this build dependencies on heroku.

Please notify me if you resolve problem and find solution. I'm going to update DOC file

Thanks

[2015-03-30 12:32] thinkv commented on #17
:( Im quite new to this, not really sure where to go from here, i tried to install the libraries first on heroku using https://github.com/ddollar/heroku-buildpack-apt
However it still gets the same error.

[2015-04-01 13:29] theHazzard commented on #11
I've managed to load mcrypt.h but now I'm having this errors

"d:\desarrollo\apinodesocket-barcode\node_modules\mcrypt\build\binding.sln" (default target)  (1) ->
"d:\desarrollo\apinodesocket-barcode\node_modules\mcrypt\build\mcrypt.vcxproj" (default targ et) (2) ->
(ClCompile target) ->
  ..\src\mcrypt.cc(43): error C2057: expected constant expression [d:\desarrollo\apinodesock et-barcode\node_mo

[2015-04-02 05:24] AntSworD opened #18 "FreeBSD"
CXX(target) Release/obj.target/mcrypt/src/mcrypt.o
In file included from ../src/mcrypt.cc:3:
../src/mcrypt.h:10:20: warning: mcrypt.h: No such file or directory
In file included from ../src/mcrypt.cc:3:
../src/mcrypt.h:27: error: expected '>' before '(' token
../src/mcrypt.h:57: error: 'MCRYPT' does not name a type
../src/mcrypt.cc: In constructor 'MCrypt::MCrypt(const v8::Arguments&)':
../src/mcr

[2015-04-02 11:18] tugrul commented on #18
[code]
Looks like libmcrypt and header files not installed or header not in the include path.

You can modify include_path if libmcrypt installed and you know where the header file.

[2015-04-03 01:30] AntSworD commented on #18
thx！i am sorry. I found the server machine of my company has some problems …

[2015-04-03 01:30] #18 closed

[2015-04-15 06:20] biswasrj commented on #17
Hi. I am getting similar errors while I try to install it in centos.
I've also installed build tools with node using.. `yum install gcc-c++ make`
Can you plz identify where I'm doing it wrong?

The error list is long... starts with...
[code]
the end part...
[code]

Thanks

[2015-04-15 09:28] biswasrj commented on #17
update: it installed in Ubuntu without any error!
Thanks.

[2015-04-15 12:34] #17 closed

[2015-04-15 13:58] biswasrj commented on #17
but there's problem in centos installation.

[2015-04-15 17:44] tugrul commented on #17
@biswasrj have you ever install libmcrypt and libmcrypt-dev packages. I don't know these packages are there in the official repo of centos.

There is a topic about on centos forum about these packages.
https://www.centos.org/forums/viewtopic.php?t=4880

[2015-04-20 02:26] jerrywuz opened #19 "centos build error"
[code]

[2015-04-20 02:55] jerrywu55 commented on #19
when i use node v0.12.0 on the other  centos server,it build success.

[2015-04-20 07:57] tugrul commented on #19
This error log is not explain anything about the error.

Can you try to build via following command to get verbose error log?

`node-gyp rebuild --release`

[2015-04-20 08:20] hhgyu commented on #19
yum install libmcrypt libmcrypt-devel

[2015-05-13 20:09] hrajchert commented on #19
I have node 0.11, I run yum install and works great, but node-gyp gives me this

[code]

[2015-05-13 20:32] hrajchert commented on #17
I have a similar problem installing on aws ami

I've done `yum install libmcrypt libmcrypt-devel`
and ` yum install gcc-c++ make`
[code]

[2015-05-15 18:40] hrajchert commented on #19
I have this error too, on a amazon ami that is based on centos.
I've tried using yum install, I've tried installing mcrypt and libmcrypt directly....

My log starts with

[code]

[2015-05-16 08:59] tonymontana opened #20 "Invalid Key Size"
Hi! I'm trying to make work just any of interested algorithms (twofish or aes). It's example from the README, but with another algorithm:
[code]

But it just throw me an error whatever Buffer I try:
[code]

I check the Buffer size, it's okay and equals 32 bytes. What am I do wrong?

[2015-05-21 14:27] paulrad commented on #16
Doesn't works on node 0.12.2 / 0.12.3

[2015-06-03 09:42] tugrul commented on #20
I tried following code and looks like fine:

[code]

Can you check length of your key following script? Maybe your key contains multibyte characters.

[code]

[2015-06-09 15:24] chesstrian opened #21 "TypeError: Invalid iv size. You can determine iv size using getIvSize()"
Hi,

I use `node-mcrypt` in a node package called `jscryptor` which uses rijndael-128 in cbc mode, with the code in the example:

[code]

I'm getting the error:

[code]

This started happening with `node-mcrypt@v0.0.8`, for that reason `jscryptor` requires `node-mcrypt@v0.0.7`.

What is the reason for this error?, How should I handle it in `jscryptor`?.

Thanks in advance.

[2015-06-17 09:42] benag commented on #11
did someone solved this?

[2015-06-18 03:15] benag commented on #19
same issue on ubuntu

[2015-06-24 12:50] tugrul commented on #21
IV size could be not same length with algorithm.

You can survive algorithm's IV size using `getIvSize()` function or you can disable iv size check using `validateIvSize()` function.

https://github.com/tugrul/node-mcrypt#validateivsizeboolean

[2015-06-24 12:50] #21 closed

[2015-06-24 12:51] #20 closed

[2015-06-24 12:56] tugrul commented on #19
@hrajchert

This error log not explain anything. Could be incompatible header files, different or old compiler toolchain

[2015-06-24 12:56] #19 closed

[2015-06-29 20:06] gdlm91 commented on #11
@theHazzard How did you do to load the mcrypt.h??

[2015-07-20 04:22] amurchick opened #23 "Can't build under mac os 10.10.4 & Node 0.12.7"
Node 0.12.7
Npm 2.11.3

[code]

[code]
And build failed.

How to fix:

[code]
I am added include dir `/usr/local/include` and `-L/usr/local/lib` - and build success.
Please fix.

[2015-07-20 11:59] tugrul commented on #23
Thanks

[2015-07-20 11:59] #23 closed

[2015-07-31 15:59] enspencer opened #24 "Error on npm install due to version 2.0 of 'nan' package"
[code]

[2015-07-31 23:27] dylancwood commented on #24
I am also getting the same error on Ubuntu 14.04 as of today. I was able to install and build just fine a couple of days ago.

[2015-07-31 23:37] swashcap commented on #24
I’m also seeing similar errors. NPM won’t install the module.

* OS: **Mac 10.10.4**
* IO.js: **v2.5.0**
* NPM: **2.13.1**

Relevant output from NPM:

[code]

[2015-07-31 23:41] dylancwood commented on #24
Just a suggestion: maybe the following change to `package.json`:

[code]

[2015-08-01 09:22] cansozeri commented on #24
Same over here for Ubuntu 14.04...

[2015-08-01 11:52] tugrul commented on #24
I published quick fix of @lcarsos. I'm going to refactor for new nan.

[2015-08-01 12:12] cansozeri commented on #24
I have installed mcrypt after installed nan 1.9.0 and it works : )

[2015-08-05 21:22] thekris1234 opened #26 "ld: warning: directory not found for option '-L/opt/local/lib/'"
Attempting to install OS X Yosemite but getting the following error:
`ld: warning: directory not found for option '-L/opt/local/lib/'`

Full Output:
[code]

Not sure if this is causing a related issue?
[code]

[2015-08-07 08:54] tugrul commented on #26
https://github.com/tugrul/node-mcrypt#validateivsizeboolean

[2015-08-12 07:34] zaczhou opened #27 "Invalid key size. Available key size are [8]"
hi,

my key is 32 bit ， like: aa0de1123f9ab4885a8cf42a25ca852e

how can i use des ecb to encrypt it?

[2015-08-12 12:14] tugrul commented on #27
You can disable key size validation using `validateKeySize(false)`

https://github.com/tugrul/node-mcrypt#validatekeysizeboolean

[2015-08-12 12:14] #27 closed

[2015-08-12 12:14] #26 closed

[2015-08-12 21:05] Cauldrath commented on #11
I was able to get this to at least install on Windows.  Make sure for both libraries you change the "runtime library" setting under "code generation" to "MT" so you don't get conflicts down the line and compile for release.  You'll get errors that look like this if you don't:
```MSVCRT.lib(MSVCR100.dll) : error LNK2005: _free already defined in LIBCMT.lib(free.obj)```

First you need to generate d

[2015-08-12 21:36] Cauldrath commented on #11
Alternatively, I made a fork with my unlicensed hacks that I in no way endorse for production code:
https://github.com/Cauldrath/node-mcrypt/tree/windows

[2015-08-13 06:10] zaczhou opened #28 "how can I convert des/ecb/nopadding written java into node use mcrypt"
This is my ex:

var MCrypt = require('mcrypt').MCrypt;
var desEcb = new MCrypt('des', 'ecb');
desEcb.open('aa0de112'); // we are set the key
var ciphertext = desEcb.encrypt('62120907316962');
console.log(ciphertext.toString('base64'));

the result is +6QVWOfvKe1pzz6sFaZxPQ==

but in java  i got  +6QVWOfvKe3ZIf8QC7jklg==

can you help me fix  this problom?

thanks a lot

[2015-08-13 07:41] #28 closed

[2015-08-13 10:38] tugrul commented on #11
@Cauldrath is there a way to seperate libmcrypt dependency from addon? There are some release on original source ftp://mcrypt.hellug.gr/pub/crypto/mcrypt/libmcrypt/win32/ also these contain static build file and headers.

So I'm going to lookup changes from your fork

[2015-08-13 13:43] tugrul commented on #28
So PHP evaluated same result:

[code]

output:
[code]

[2015-08-13 14:31] Cauldrath commented on #11
The libraries in there are dlls and .a files that seem to be for use with cygwin.  There's probably a way to get them to work, but I'm not that familiar with node-gyp.

Also, apparently you can just name the libmcrypt_a.lib file mcrypt.lib and throw it in the Visual Studio VC lib folder and the mcrypt.h and mutils folders in your Visual Studio VC include folder and it will work fine with no change

[2015-08-13 15:15] tugrul commented on #11
@Cauldrath Yeah node-gyp not supports mingw/cygwin. Good idea to patching Visual Studio folder. Can you share a project that automate this thing (to build and install libmcrypt to Visual Studio VC folder) I'm going to reference your project as dependency to use on Windows.

Publishing lib file is able to feel insecure instead of project source for other users.

Thanks

[2015-08-13 16:40] Cauldrath commented on #11
Sorry, installers are a bit outside my area of expertise.

[2015-08-13 17:02] tugrul commented on #11
@Cauldrath there is no requirement for installers. Only automation is enough like Makefile. A .bat file could be done instead of Makefile. build.bat install.bat etc..

[2015-08-15 14:32] tugrul commented on #11
I'm able to static build using gyp dependency. I'm going to make changes to build Windows and going to need no more external library installation for all platforms.

[2015-08-17 12:15] tugrul commented on #11
I published 0.1.1 version to NPM. This version is dependency free and able to use on Windows.

[2015-08-18 11:29] #11 closed

[2015-08-19 03:00] thujikun opened #29 "Can't install on iojs 3.0"
It works on iojs 2.5.
But it doesn't work on iojs 3.0.
error is following.

[code]

Are there any solution?

[2015-08-19 12:48] thujikun commented on #29
Sorry. I found solution by myself.
It's caused by latest node-gyp.
So I downgraded it 2.0.2 to 1.0.1.
Finally, it works.
Thanks.

[2015-08-19 12:48] #29 closed

[2015-08-19 16:21] mrfelton opened #30 "Unable to encrypt or decrypt using rijndael-256 ecb"
Hi,

Whilst I have been able to get some of the algorithms to work, I have not been able to either encrypt or decrypt using rijndael-256 ecb.

First off, when I try to assign my key it states that it is an invalid size. The has ben used successfully to encrypt and decrypt data in php so I don't think there is anything wrong with the key length. To get past this I have tried settings validateKeySiz

[2015-08-19 17:52] ffranco-daitan commented on #11
@tugrul Unfortunately it's still not building. Although I've followed all instructions in the node-gyp README, my build fails with this message:

[code]

Has anyone been able to build it on Windows? I'm using Windows 7 x64.

[2015-08-25 00:11] dylancwood commented on #30
This may or may-not be related, but I have been experiencing issues encrypting with rijndael-128 and 256 using node-mcrypt v0.1.0+. Here is a super simple test-script which fails using v0.1.2, but passes using v0.0.15:

package.json:
[code]

index.js
[code]

Output w/ v0.0.15 (good):
[code]

Output w/ v0.1.2 (bad):
[code]

More details:

* io.js v2.5.0
* ubuntu 14.04

[2015-08-25 10:11] matylla opened #31 "Can't install on iojs v3.2.0"
I know the issue has been addressed in #29 but a proper fix for this is still needed.

[code]

[code]

[2015-08-25 13:27] junzhli opened #32 "Decrypting Rijndael with 128-bit Cause segmentation fault on CentOS ..."
I am using mcrypt module on Node.js and decrypt some strings encrypted by PHP mcrypt library. Firstly, It works very well on Mac OS. After I moved my project to CentOS and recompile the module, I try to run Node.js project on this OS and then get "segmentation fault". Maybe there is a bug ?

Here are some debugging information handled by ddopson/node-segfault-handler (https://github.com/ddopson/no

[2015-08-25 20:17] InstanceOfMichael commented on #30
Just came here to say that this information has saved me from a mystical segfault that no one else on the internet is complaining about.

[2015-08-26 11:42] tugrul commented on #30
v0.0.x using libmcrypt as dynamic library. v0.1.x using libmcrypt as static library because targetted dependency free installation for Linux, OSX and Windows.

Looks like memory access issue at https://github.com/tugrul/libmcrypt-gyp/blob/master/modules/algorithms/rijndael-128.c#L337

I couldn't find source of issue yet.

Can use v0.0.x to avoid this issue currently.

[2015-08-26 11:46] tugrul commented on #32
#30

[2015-08-26 11:46] #32 closed

[2015-08-28 11:25] alanshaw commented on #31
Same here :(

[2015-09-01 11:20] pmaganti commented on #31
I am getting the same error.

`npm install mcrypt -g
\

  CC(target) Release/obj.target/libmcrypt/lib/libmcrypt/modules/algorithms/3-way.o
In file included from ../lib/libmcrypt/modules/algorithms/3-way.c:14:
../lib/libmcrypt/lib/libdefs.h:55:11: fatal error: 'endian.h' file not found
# include <endian.h>
          ^
1 error generated.
make: *** [Release/obj.target/libmcrypt/lib/libmcrypt/modules/

[2015-09-01 12:25] pmaganti opened #33 "npm install on mac failed"
Getting error like this when i tried to install mcrypt.
[code]

Tried solutions like:
1) installing nan
2) downgrading node-gyp to 1.0.1

[2015-09-02 21:24] ezrepotein opened #34 "After encrypting and decrypting the string, result is different from original"
When i try to encrypt plaintext string and decrypt the results I get different string from the original. It happens in many algorithms and modes combinations. Even documentation example does not work properly:

[code]

It gives different results for each program start. Here is example output:

[code]

I have encountered this problem in v0.1.1 and v0.1.2

However in v0.0.15 everything works properl

[2015-09-05 10:28] mikeljames commented on #29
@thujikun I'm getting the same error. I'm running node v3.1.0 and node-gyp 1.0.1 as suggested by your comment. I installed 1.0.1 of node-gyp in my working directory.

npm install node-gyp --save
and then ran:
npm install mcrypt --save

same error:

mcrypt@0.1.2 install /Users/michaeljames/Documents/projects/kiosk/live/kiosks/webhook/node_modules/mcrypt

  CC(target) Release/obj.target/libmcrypt/li

[2015-09-05 10:34] mikeljames commented on #29
I've tried with node 10.36 which is bundled with node-gyp 1.0.1 and I still get the same error:

  CC(target) Release/obj.target/libmcrypt/lib/libmcrypt/modules/algorithms/3-way.o
In file included from ../lib/libmcrypt/modules/algorithms/3-way.c:14:
../lib/libmcrypt/lib/libdefs.h:55:11: fatal error: 'endian.h' file not found
# include <endian.h>
          ^
1 error generated.
make: *** [Release/ob

[2015-09-05 14:07] mikeljames commented on #33
+1 same issue for me.

[2015-09-06 12:03] tugrul commented on #31
Please use mcrypt@0.0.15 version. I'm working on libmcrypt source to port cpp.

[2015-09-06 12:03] tugrul commented on #34
Please use mcrypt@0.0.15 version. I'm working on libmcrypt source to port cpp.

[2015-09-06 12:05] tugrul commented on #33
Same issue #31 Please use mcrypt@0.0.15 version. I'm working on libmcrypt source to port cpp.

[2015-09-06 12:05] #33 closed

[2015-09-06 21:52] mikeljames commented on #33
Thanks @tugrul  :)

[2015-09-07 06:11] pmaganti commented on #33
New error now when i tried install 0.0.15 version. Am i missing any dependencies?
Please help me @tugrul .

[code]

[2015-09-07 11:09] tugrul commented on #33
@pmaganti yeah you need to install libmcrypt and libmcrypt-dev

[2015-09-07 14:20] pmaganti commented on #33
Am i dumb guy here :(

I did not find libmcrypt and libmcrypt-dev using npm.
When i tried using brew it installed mcrypt-2.6.8.

Sorry to bother you again @tugrul

[2015-09-08 12:45] tgabi333 commented on #30
+1

[2015-09-08 13:18] tugrul commented on #33
@pmaganti

Debian / Ubuntu:
`sudo apt-get install libmcrypt libmcrypt-dev`

[2015-09-14 18:33] InstanceOfMichael commented on #11
I am having this issue with v0.0.15 and a non-windows system.

[code]

[2015-09-16 08:56] gsklee commented on #33
+1

[2015-09-16 09:02] gsklee commented on #31
Used 0.0.15 and still get a lot of errors:

[code]

[2015-09-16 15:07] yodeyer commented on #30
It's probably an issue in `config.h`: I had the same issue building https://github.com/worldline/node-rijndael/ (fork of https://github.com/skeggse/node-rijndael) and I solved it by using the `config.h` file generated by `make`.

[2015-09-17 08:22] dylancwood commented on #30
Thanks @yodeyer. I copied your [config.h](https://github.com/worldline/node-rijndael/blob/master/config.h) to _lib/libmcrypt/config.h_, ran `npm rebuild`, and my tests pass :-)

I'll submit a PR in a minute

[2015-09-17 11:33] tugrul commented on #30
Thanks @yodeyer i merged pull request of @dylancwood also i published to NPM

[2015-09-17 11:36] tgabi333 commented on #30
Thank you!

[2015-09-17 12:07] erickhun commented on #31
same for me latest version or 0.0.15

[2015-09-17 18:09] royreiss commented on #31
Same here using node 4.0

[2015-09-18 10:46] tugrul commented on #34
Is it resolved?

[2015-09-18 10:46] #30 closed

[2015-09-21 17:49] malhayek2014 commented on #31
I get this error when I try to install it on Windows. I am using Node.js 4

C:\Program Files\nodejs\node_modules\mcrypt>if not defined npm_config_node_gyp (
node "C:\Program Files\nodejs\node_modules\npm\bin\node-gyp-bin\\..\..\node_modu
les\node-gyp\bin\node-gyp.js" rebuild --release )  else (node  rebuild --release
 )
gyp ERR! configure error
gyp ERR! stack Error: Can't find Python executable "p

[2015-09-29 18:02] rhlsthrm commented on #33
I am having the same issue here.  Trying to run on Mac OSX using brew.

[2015-10-07 18:39] FlorianBezagu commented on #31
:+1:

Same errors here

[2015-10-14 03:46] Duncan00 commented on #31
Same here

[2015-10-20 04:13] Duncan00 commented on #31
node v4.2.1
node-gyp v3.0.3
nan v2.1.0

[code]
same error as @gsklee

[2015-10-21 12:16] #34 closed

[2015-10-28 13:12] pmaganti opened #35 "decrypt text encrypted through php encrypt"
We are re-writing our php app to node js app and trying to decrypt the password which is encrypted using php encrypt by twofish.

[code]
Mode defaulted to cbc.

Here is my decrypt code using in node js:
[code]
I am stuck here. Could you please help me how to decrypt using mcrypt library.

[2015-10-29 18:26] jsolis commented on #31
+1

node -v v4.2.1
node-gyp -v v3.0.3
mcrypt 0.0.15

[2015-11-02 13:05] tugrul commented on #31
I should update convention to fix but looks like bigger differences by node v4. I'm too busy and i can't allocate time for this job.

[2015-11-06 01:19] tugrul commented on #24
I published npm release for this issue

[2015-11-06 01:19] tugrul commented on #31
I published npm release for this issue

[2015-11-06 03:32] jsolis commented on #31
First off, thanks for the release.  I do have a question though.  Because our devs use Macs, we've been using that `0.0.15` version.  Do you think there is any chance that these changes could be applied to a branch of `0.0.15`?  I'm unfamiliar with C and unfamiliar with why the later releases don't work on a mac, so please forgive me if my question is misguided.

[2015-11-06 11:10] sylvainlap opened #37 "Issue on install Ubuntu 14.04"
Hi,

I'm trying to install mcrypt@0.1, and I got this error:
[code]
My env is: node v4.2.1, node-gyp v3.0.3, npm v2.14.7
libmcrypt4 is installed
[code]

[2015-11-06 12:00] tugrul commented on #37
I published again with dependency library

[2015-11-06 12:11] sylvainlap commented on #37
fixed ! good job !

[2015-11-06 12:11] #37 closed

[2015-11-08 06:00] silversoup commented on #31
Having problem installing both 0.0.15 and 0.1.5 on mac 10.10.5 (node 4.2.2, node-gyp 3.0.3). I brew installed libmcrypt, but wasn't able to find libmcrypt-dev.

[2015-11-08 12:31] jsolis commented on #31
FYI the 0.1.x version don't work on a mac (the reason why is documented in other issues).

The 0.0.15 version works on Mac but doesn't work with node v. 4.2.x. That's what this issue is all about.

[2015-11-08 15:04] tugrul commented on #31
@silversoup  @jsolis can you share npm log for mac?

[2015-11-09 14:23] Alexandre-io opened #39 "Failed compatibility"
This test:

[code]

is failling with :

[code]

[2015-11-09 16:40] tugrul commented on #39
Yeah i expected same. I'm going to lookup internal behavior of libmcrypt

[2015-11-09 17:25] royreiss commented on #31
Thanks for the commit guys!  Just installed with Node 5.0 and it seems to be working great.

[2015-11-09 21:43] jsolis commented on #31
Pasted the npm-debug.log to a gist using node 0.12.7 on a mac.  Let me know if you need anything else.

https://gist.github.com/jsolis/836d465aedf649930a21

[2015-11-10 14:03] tugrul commented on #24
I published `mcrypt@0.1.6`

[2015-11-10 14:03] tugrul commented on #31
I published `mcrypt@0.1.6`

[2015-11-10 14:07] tugrul commented on #35
I dont know that php framework how could handle iv. Stackoverflow can be helpful than bug report.
Thanks

[2015-11-10 14:40] pmaganti commented on #35
I wasn't able to mark it as question. Can you mark this as question and keep it opened so that someone can help if they did this earlier.

PHP framework is CodeIgniter mcrypt library. I too posted in stackoverflow.

[2015-11-10 15:22] jsolis commented on #31
Thanks for the quick update.  I just tried installing it, but unfortunately got the following error

[code]

[2015-11-10 15:49] tugrul commented on #31
@jsolis http://stackoverflow.com/questions/20813028/endian-h-not-found-on-mac-osx

[2015-11-10 16:18] jsolis commented on #31
Thanks for the reference.  I had xcode CLI installed and updated already, but the suggestion to copy `endian.h` from `/usr/include/machine` to `/usr/include` got me past that error, but then got the below error.  I don't have `byteswap.h` anywhere on my machine.  I searched around on google for a little and found a few references, but all of them seemed to involve a code fix like this one:
https:/

[2015-11-11 00:35] tugrul commented on #31
@jsolis can you configure & compile libmcrypt externally and send `config.h` file to me?

http://sourceforge.net/projects/mcrypt/files/Libmcrypt/2.5.8/

[2015-11-11 04:05] jsolis commented on #31
Sure thing.  Definitely appreciate the effort here :+1:

Pasted my config.h after running ./configure and  make on libcrypt
https://gist.github.com/jsolis/57702f4c5e2a487d828a

[2015-11-15 13:50] tugrul commented on #31
@jsolis `mcrypt@0.1.8`

[2015-11-15 13:52] tugrul commented on #11
@ffranco-daitan i published `mcrypt@0.1.8` and i'm able to install on windows

[2015-11-15 14:57] tugrul commented on #24
@enspencer @swashcap @cansozeri is resolved?

[2015-11-15 15:20] jsolis commented on #31
:+1: :exclamation: I was able to successfully install and run my project using `mcrypt@0.1.8` on a mac using both `node@0.12.7` and `node@4.2.2`.  Thanks so much for your help on this @tugrul, I can't tell you how much we appreciate it.

[2015-11-16 18:12] swashcap commented on #24
@tugrul Yep, it installs fine now. Thanks! :+1:

[2015-11-17 06:05] nayandabhi opened #41 "Can't install on ubuntu 14.04 LTS"
Hi,
I'm trying to install mcrypt, with following configuration.
[code]

Getting error like this when i tried to install mcrypt.
[code]

[2015-11-17 13:03] tugrul commented on #41
`make: g++: Command not found`

do you have c++ compiler?

`sudo apt-get install build-essential`

[2015-11-17 13:16] nayandabhi commented on #41
@tugrul Yep, it installs fine now.

after run the following command
[code]
Thanks! :+1:

[2015-11-17 13:19] #41 closed

[2015-11-17 13:20] #31 closed

[2015-11-17 13:20] #24 closed

[2015-11-18 20:20] Dexus opened #42 "generateIv() dont return IV"
generateIv() dont return a IV for anything

[2015-11-19 12:29] tugrul commented on #42
Is it resolved?

[2015-11-19 17:09] Dexus commented on #42
urgs... the `generateIv()` now returns IV but all time the same...
it should maybe use the /dev/urandom or nodejs [crypto.randombytes](https://nodejs.org/api/crypto.html#crypto_crypto_randombytes_size_callback)

[code]

[2015-11-19 19:44] Dexus commented on #12
:+1:

[2015-11-19 20:00] tugrul commented on #42
I working on https://github.com/tugrul/libmcrypt-gyp to port c++ convention and im going to implement better way for this function.

[2015-11-19 20:08] Dexus commented on #42
i have seen it :+1: for that. i have also included already "MARS" that is non free :(

[2015-11-20 03:03] sibok opened #43 "ode v5.0.0Can't install mcrypt 0.0.7 on and npm v3.3.12"
This is system installed libmcrypt version 2.5.8-r3

Install Log:
Value>, v8::Local<v8::Signature>, int)
   static Local<FunctionTemplate> New(
                                  ^
/home/sibok/.node-gyp/5.0.0/include/node/v8.h:4348:34: note:   no known conversion for argument 1 from ‘v8::Handle<v8::Value>(const int&) {aka v8::Local<v8::Value>(const int&)}’ to ‘v8::Isolate*’
../src/mcrypt.cc:547:20:

[2015-11-20 14:39] tugrul commented on #43
`mcrypt@0.0.7` too old and `mcrypt@0.1.9` works fine with Node.js 5

[2015-11-20 14:39] #43 closed

[2015-11-20 17:38] siromivel opened #44 "Trouble With Rijndael-256 Implementation"
I'm working on a project that requires me to decrypt a string ciphered with Rijndael-256 (256 block & key size,) and am having a hard time getting this module to work properly with this algorithm.

My current test code is:
[code]

Based on the examples I've seen in the docs both on GitHub and npm(https://www.npmjs.com/package/mcrypt) I believe that this code should be correctly returning the origi

[2015-11-20 18:53] tugrul commented on #44
Yes there is an error without IV but im able to get no error using IV.

This mode require to use IV and maybe the library should generate IV automatically if there was no provided IV.

https://en.wikipedia.org/wiki/Block_cipher_mode_of_operation#Cipher_Block_Chaining_.28CBC.29

[2015-11-27 17:11] siromivel commented on #44
Thanks for that, don't know how I missed it! Everything is working perfectly now.

[2016-01-07 10:34] sovattha opened #45 "Key length is not legal"
Hello,

I would like to encrypt a string using the algorithm 'rijndael-128' in 'ecb' mode.

My key is in binary format.

I create my key with the following code.
[code]

Then I would like to encrypt my message with the key using:

[code]

`secret.length` is 32. But I get the message:
*Key length is not legal.*

If I leave the key validation size, I get:
*Invalid key size. Available key size are [1

[2016-01-08 10:13] rpkim opened #46 "It is not installed on Windows"
rypt\modules\algorithms\twofish.c) [D:\Project\aaaaa\server\node_modules\mc
rypt\build\lib\libmcrypt\libmcrypt.vcxproj]
......\lib\libmcrypt\modules\algorithms\twofish.c(484): error C2054: expected
 '(' to follow 'inline' [D:\Project\aaaaa\server\node_modules\mcrypt\build\
lib\libmcrypt\libmcrypt.vcxproj]
D:\Project\aaaaa\server\node_modules\mcrypt\lib\libmcrypt\lib\mcrypt_module
s.h(36): error C2

[2016-01-10 11:54] tugrul commented on #46
What is version of your Visual C++ compiler?

[2016-01-11 08:22] rpkim commented on #46
My version is 2010

2016년 1월 10일 (일) 20:54, Tuğrul Topuz <notifications@github.com>님이 작성:

[2016-01-11 08:26] tugrul commented on #46
Probably your c++ compiler is not compatible with c++11 features. https://msdn.microsoft.com/en-us/library/hh567368.aspx

https://github.com/nodejs/node-gyp

[2016-01-11 08:31] rpkim commented on #46
Thanks. I try again with c++ 11

2016년 1월 11일 (월) 17:26, Tuğrul Topuz <notifications@github.com>님이 작성:

[2016-01-13 14:46] Rufflesaurus opened #47 "Error: Invalid key size. Available key size are [16, 24, 32]"
Hi,

I get the following error:

[code]
When I use the following code:

[code]

When I log the variable `rijndael128cbc` to the console, I get an empty MCrypt {} object.

I saw that there was a similar issue with the blowfish algorithm but it was closed. Maybe it's the same bug for this algorithm too?

Thanks

[2016-01-13 14:53] Rufflesaurus commented on #47
Nevermind, I had a wrong key passed through.

[2016-01-13 14:53] #47 closed

[2016-01-15 10:23] vijukr8 opened #48 "Getting error in node v5.4.1"
module.js:422
  return process.dlopen(module, path._makeLong(filename));
                 ^

Error: Module version mismatch. Expected 47, got 46.

[2016-01-15 12:47] tugrul commented on #48
Travis built passed for v5.4.1 https://travis-ci.org/tugrul/node-mcrypt/jobs/92321369

[2016-02-16 09:58] perzy opened #51 "Error: MCrypt module could not open"
env: Mac osx
node -v 4.3.0

[2016-03-24 15:23] ShaynaCummings commented on #33
I was able to resolve this issue on OS X El Capitan (running node v0.10.40) with the following:
`xcode-select --install # I needed to update xcode tools and manually accept TOS`
`node-gyp rebuild`
`npm install mcrypt`

[2016-03-25 14:17] tugrul commented on #33
Thank you @ShaynaCummings. Is there an anybody who profit by this solution for other versions?

[2016-03-27 21:23] seeekr commented on #45
here's the example:

[code]

Just disable key size checking. It worked for me! I know very little about crypto, so I don't know what this implies, but since it seems to work on the surface...

[2016-03-28 14:39] tugrul commented on #45
@sovattha is your key contain any null byte \x0?

[2016-04-06 14:09] sovattha commented on #45
@tugrul Hi, no my key does not contain any null byte.

I created test [here](https://ide.c9.io/sovattha/node-mcrypt).
Or you execute my code below:

[code]

Hope this helps you guys helping me :-)

[2016-04-27 19:47] sterling opened #52 "Failing npm install"
Using Node 0.12.7

`npm install` fails with the following errors:

[code]

I noticed that `nan` recently published a new version. Could be related?

[2016-04-27 19:54] sterling commented on #52
With further testing, it appears `0.12.x` is failing, but `4.0.0+` works

[2016-04-27 21:42] sterling commented on #52
Also, if `nan@2.3.0` is installed before `mcrypt`, it succeeds. Failures begin at version `2.3.1`.

`npm i nan@2.3.0 && npm i mcrypt` works
`npm i nan@2.3.1 && npm i mcrypt` fails

This is how I'm getting around the issue for now.

[2016-04-27 21:44] sterling commented on #52
Incoming version of `nan` may actually fix this issue: https://github.com/nodejs/nan/commit/9042b4de0c01190be0513688f340681a82c5ea58

[2016-04-27 21:55] sterling commented on #52
Verified that `2.3.2` fixes the issues!

[2016-04-27 21:55] #52 closed

[2016-05-18 15:08] jamilnyc opened #53 "Unable to Install mcrypt locally without sudo"
Node Version: 6.0.0.
NPM Version: 3.8.6
OS: CentOS release 6.7 (Final)

When running `npm install mcrypt` I get a lot of C/C++ errors for the `nan` module.

The very first error is:

[code]

Then at the bottom of the output:

[code]

If I run this with `sudo` it installs without errors. I am not doing a global install. I also cannot execute any script that I `require` the `mcrypt` module in withou

[2016-05-19 15:09] tugrul commented on #53
I don't know CentOS but maybe there is an alternatives of c++ compiler for each user environment.

```../../nan/nan.h:43:3: error: #error This version of node/NAN/v8 requires a C++11 compiler```

Can you compare versions of c++ compilers like `c++ --version` and `sudo c++ --version`

[2016-05-19 15:13] jamilnyc commented on #53
Thanks for responding @tugrul

The compiler version is the same for `sudo` and regular users also for c++ and g++.

[code]

[2016-05-19 15:55] tugrul commented on #53
This is error message depended to compiler environment.

https://github.com/nodejs/nan/blob/master/nan.h#L42

[2016-05-20 06:48] lmj0011 commented on #33
This was resolved for on Xubuntu 16.04 with the following command:
`sudo apt install node-gyp` :+1:

[2016-05-20 15:01] jamilnyc commented on #53
That is weird. It requires c++ version greater than `201103L`, but I have `20120313`

[2016-05-26 16:08] mnpenner opened #54 "Getting v8 stack dump as soon as lib is required"
As soon as I `require('mcrypt')`, I get this giant dump in my console:

[code]

This is happening with Node 6.2. The library actually seems to work after this, but the error/warning is not nice.

[2016-05-26 17:12] stephenkubovic commented on #54
+1

Just ran into this as well after upgrading Node from 0.12 to 6.2

[2016-05-26 20:12] stephenkubovic commented on #54
This is maybe related to [nan](https://github.com/nodejs/nan).

https://github.com/nodejs/nan/blob/master/CHANGELOG.md#231-apr-27-2016

[2016-05-26 21:06] mnpenner commented on #54
Could be, but I already tried updating to nan 2.3.3 and that didn't fix it. npm 3.x will try using my local dependency if I have it installed, right?

[2016-05-26 21:08] stephenkubovic commented on #54
I was able to get it to work by uninstalling mcrypt, installing local nan@latest, then re-installing mcrypt.

[2016-05-26 21:11] mnpenner commented on #54
Oh... whadya know. That worked for me too.

[2016-05-27 16:58] #54 closed

[2016-05-27 17:01] tugrul commented on #54
I published update to NPM

[2016-07-21 03:47] trandung1291 opened #56 "node-gyp"
When running npm install mcrypt I get error ..how to fix it ..

![untitled](https://cloud.githubusercontent.com/assets/8279284/17010657/2cd251ca-4f30-11e6-9fc1-c268bcab0479.png)

[2016-07-21 07:17] tugrul commented on #56
Can you share node, npm, Visual C++ version and npm-debug.log

[2016-07-21 08:40] trandung1291 commented on #56
i'm trying encrypt like mcrypt_encrypt in php
i'm using
node 6.3.0
npm  3.10.3
visual c++ 2010

npm-debug.log  here
thank for your help

---------------------------------------------------------------------

0 info it worked if it ends with ok
1 verbose cli [ 'C:\\Program Files\\nodejs\\node.exe',
1 verbose cli   'C:\\Program Files\\nodejs\\node_modules\\npm\\bin\\npm-cli.js',
1 verbose cli   'ins

[2016-08-01 20:06] #44 closed

[2016-08-31 03:08] wangnan0610 commented on #45
I also encountered the same problem ！

[2016-08-31 03:08] wangnan0610 commented on #45
Hope someone help me ~

[2016-10-03 04:33] mvtcode opened #57 "install error CentOs 6.8"
I develop in Ubuntu 14.04 and install this module done.
But I install in CentOs 6.8 error. in this Os, I has install package:
- libmcrypt
- libmcrypt-devel
- autoconf
- automake
- cmake
-freetype-devel
- gcc
- gcc-c++
- libtool
- make
- mercurial
- nasm
- pkgconfig
- zlib-devel
- devtoolset-2-gcc
- devtoolset-2-binutils
- devtoolset-2-gcc-c++

Detail error:

Help me, please!
(Ai đã khắc phục đc lỗ

[2016-10-03 07:25] tugrul commented on #57
This error means you have an old c++ toolchain.

[2016-10-03 11:18] mvtcode commented on #57
thank,
I try install in CentOs 7 (gcc 4.7) have not fail.
CentOs 6.8 have an old gcc.

[2016-10-03 11:21] #57 closed

[2016-10-03 11:22] tugrul commented on #53
same issue #57

[2016-10-03 11:22] #53 closed

[2016-10-17 16:02] marszhou opened #58 "node-gyp rebuild error"
sudo npm i mcrypt -g --python=/usr/bin/python2.6

  CC(target) Release/obj.target/libmcrypt/lib/libmcrypt/modules/algorithms/3-way.o
  CC(target) Release/obj.target/libmcrypt/lib/libmcrypt/modules/algorithms/arcfour.o
  CC(target) Release/obj.target/libmcrypt/lib/libmcrypt/modules/algorithms/blowfish.o
  CC(target) Release/obj.target/libmcrypt/lib/libmcrypt/modules/algorithms/blowfish-compat.o
  C

[2016-10-18 23:48] tugrul commented on #58
This error looks like related to python or python libraries.

Why needed to declare python executable? Do you have multiple python version. Maybe conflicting libraries by different python versions.

[2016-12-12 12:22] mohamedfasil opened #60 "Module not found: Error: Can't resolve './build/Release/mcrypt'"
Hi, I'm getting this error in linux, with webpack

Module not found: Error: Can't resolve './build/Release/mcrypt'

[2017-01-05 14:32] smart--petea opened #61 "decrypt a message encrypted in php"
Hi. I have an Yii application using "rijndael-128", "ofb" with IV. The encrypted message is saved in mysql and read in a node.js application. I try to decrypt it. The message is stored in mysql as blob and node-mysql transform it in a Buffer. I do not change it. My algorithm is
[code]

How could I get rid of the garbage from the decrypted message?

Thank you

[2017-01-10 07:31] tugrul commented on #61
Can you create test case using test data with test keys by Yii application and pull request like following javascripts:

https://github.com/tugrul/node-mcrypt/tree/master/test

you able to run tests using `npm test` command

I'm going to inspect error detail with this

[2017-01-23 17:45] adamchenwei opened #62 "Error: mcrypt@0.1.12 install: `node-gyp rebuild --release`"
[code]

[2017-04-01 10:41] piotrknapik commented on #51
Same here, env: macOS 10.12, Node v6.2.2

[2017-04-28 17:41] misterfresh commented on #61
I'm also having issues trying to decode a prestashop cookie with MCrypt("rijndael-128", "cbc").
The first couple characters of the message are replaced with garbage, the rest of the message is decrypted fine, but there are no errors. I'll try to see if I can reproduce it with dockerfiles.

[2017-04-28 20:11] misterfresh commented on #61
When I make "var_dump" in the php file, I get as cookie contents :
date_add|2017-04-27 23:30:25¤id_lang|1¤id_currency|1¤id_guest|571369¤id_connections|590882¤checksum|2523349829

but with node-mcrypt I get:
���Ӱy��J" R�-27 23:30:25¤id_lang|1¤id_currency|1¤id_guest|571369¤id_connections|590882¤checksum|2523349829

[2017-05-01 12:12] tugrul commented on #61
Currently im refactoring codebase of https://github.com/tugrul/libmcrypt-gyp

@misterfresh test case will be better to see to me.

Can you write a test case like one of the file inside of test folder?

It is pretty simple.

Thanks.

[2017-06-21 06:19] tajhulfaijin opened #63 "Failed at the mcrypt@0.1.12 install script 'node-gyp rebuild --release'."
Just installing mcrypt on my mac, and got this error :

⇒  npm install mcrypt --save

gyp WARN install got an error, rolling back install
gyp ERR! configure error
gyp ERR! stack Error: self signed certificate in certificate chain
gyp ERR! stack     at Error (native)
gyp ERR! stack     at TLSSocket.<anonymous> (_tls_wrap.js:1092:38)
gyp ERR! stack     at emitNone (events.js:86:13)
gyp ERR! stack

[2017-08-04 18:17] jaythomas commented on #56
How about using [windows-build-tools](https://github.com/felixrieseberg/windows-build-tools)?

[code]

[2017-08-04 18:21] jaythomas commented on #19
CentOS 6.9 with libmcrypt and libmcrypt-devel installed:
[code]

[2017-08-17 11:23] NHbank commented on #19
I have same problem on Centos 6.9.
In my case resolved with 'sudo' command.

**sudo** npm i mcrypt -g

[2017-08-17 14:58] jaythomas commented on #19
Using sudo didn't work for me. The system is fresh and the node installation is pretty vanilla.

I'm not sure if the node module is checking for a globally installed mcrypt, but mcrypt is in the CentOS repos so it seems like it should be using that when it can't compile or checking for that in the first place.

[2017-08-28 17:01] ronovar opened #64 "rijndael-128 algorith is not the same as PHP so i cannon decode it in php when created in node-mcrypt"

[2017-10-23 18:50] Extarys opened #68 "generateIv always return the same buffer"
[code]

`<Buffer d6 64 c7 cb e8 32 55 c3 46 8d 79 a0 5d 82 f2 e9>`
I assume that this is not the expected behavior? :\

[2017-11-09 17:02] arkanos opened #69 "Unable to build on Windows 10 x64"
`Building the projects in this solution one at a time. To enable parallel build, please add the "/m" switch.
  Microsoft (R) 32-bit C/C++ Optimizing Compiler Version 12.00.8168 for 80x86
  Copyright (C) Microsoft Corp 1984-1998. All rights reserved.

  cl  ■/

     \

     \

CL : Command line warning D4024: unrecognized source file type ' ■/', object file assumed [C:\Users\ruben.deig\Desktop\test

[2018-01-30 02:59] idangozlan opened #70 "Error on installation"
[code]

OS: MacOS High Sierra 10.13.3
Node: v6.11.4
NPM: 3.10.10

[2018-04-21 14:44] jowanw opened #71 "Blowfish-compat hex key incorrect decryption"
When using a hex key to decrypt the result is incorrect:

What i get: fc 20 1e f1 7d bc 39 14 5c 66 b6 e7 ef 6c 1f 12
Correct result: 00 00 39 00 38 00 37 00 00 00 00 00 00 00 00 00

http://blowfish-compat.online-domain-tools.com/link/11fa8aegZdkP2mzGJD/

Snippet:

`var MCrypt = require('mcrypt').MCrypt;

var compatECB = new MCrypt('blowfish-compat', 'ecb');

compatECB.validateKeySize(false);

var

[2018-04-25 18:47] ByronAP commented on #58
same issue here

[2018-05-11 14:05] klinkov commented on #70
Same issue

[2018-05-22 15:08] RichAyotte opened #72 "Build with Node 10 fails mcrypt.cc:102:67: error: no matching function"
[code]

[code]
Build with Node 10.1 is failling with the following error.
[code]

[2018-07-07 16:00] joweste opened #73 "Unable to install in windows"
Hi, I am unable to install in windows  8.1, node v8.11.3
Error log:

C:\nodeapp\newhospKeys\node_modules\mcrypt>if not defined npm_config_node_gyp (n
ode "C:\Program Files\nodejs\node_modules\npm\node_modules\npm-lifecycle\node-gy
p-bin\\..\..\node_modules\node-gyp\bin\node-gyp.js" rebuild )  else (node "C:\Pr
ogram Files\nodejs\node_modules\npm\node_modules\node-gyp\bin\node-gyp.js" rebui
ld )
gy

[2018-07-11 04:19] ZacharyDraper opened #74 "Invalid IV Size Despite Checking Size"
I am working to recreate some encryption I am doing in PHP to ensure that both systems can encrypt and decrypt data and communicate with each other. Interestingly, I am getting 'Invalid IV Size' when using crypt.open() despite having checked the IV size first. Here is an abbreviated example of my code:

[code]

As you can see from the code, if the length of the IV is not equal to the IV size as de

[2018-08-08 10:51] #72 closed

[2018-08-08 10:57] tugrul commented on #72
Thanks @furanzujin

Pull request merged and published to NPM.

[2018-09-05 09:33] martinbean opened #77 "MCrypt module could not open on AWS Lambda"
I’m trying to use this package to create a simple Lambda function on AWS that decrypts a given ciphertext with a given string.

This is the entirety of my function:

[code]

I installed the `mcrypt` package, zipped my **index.js** script and **node_modules** folder, and uploaded it to Lambda. When I try to execute the function, it fails with this error:

[code]

The function _does_ work in a Vagra

[2018-09-08 20:51] tugrul commented on #77
[code]

MCrypt not contains **esc** mode.

You can check it by calling `getModeNames()` function.

https://github.com/tugrul/node-mcrypt#getmodenames--array

[2018-09-09 21:05] martinbean commented on #77
@tugrul So why does it work locally?

[2018-10-17 09:47] simondutertre commented on #62
Save issue error :
npm ERR! mcrypt@0.1.12 install: `node-gyp rebuild --release`
npm ERR! Exit status 1

On macOs

[2018-11-23 16:23] pluma opened #78 "Core dump when invoked as a function"
This isn't a massive problem but it would be nice if this were handled more gracefully:

[code]

The problem is probably that in a regular function invocation `this` is left undefined. I think newer versions of V8 (i.e. ever since classes are supported) allow distinguishing between regular functions and constructors so this could me adjusted to result in a `TypeError: Constructor MCrypt requires '

[2019-01-11 13:04] Sandeeprao69 opened #79 "not able to run inside docker"
var MCrypt = require('mcrypt').MCrypt;
throws error saying module not found.
Same code works outside docker.
Please help

[2019-01-14 17:36] tugrul commented on #79
Do you have build tools inside container?

[2019-03-19 13:51] jevilla94 opened #80 "Problem to using the types version in angular 5"
Hello
I am using the package @types/mcrypt on a project with a ngx-admin template; built component is:

import { Component, OnInit, Input, Output, EventEmitter } from '@angular/core';
import { TranslateService, LangChangeEvent } from '@ngx-translate/core';
import { getAlgorithmNames, getModeNames, MCrypt } from "mcrypt";

@component({
selector: 'ngx-recibo',
templateUrl: './recibo.component.html',

[2019-03-23 19:41] tugrul commented on #80
This library is not isomorphic and you can only use on server-side.

[2019-03-23 19:54] tugrul commented on #68
This method not uses a real psueido-random generator. It just use `std::rand()` function of c++.

You can use `crypto.randomBytes(size[, callback])` to get better variations.

https://nodejs.org/api/crypto.html#crypto_crypto_randombytes_size_callback

[2019-03-23 19:54] #68 closed

[2019-03-23 19:59] tugrul commented on #70
This should be resolved in actual version (0.1.15). Please comment if is it not ok.

[2019-03-23 19:59] #70 closed

[2019-03-23 20:01] #71 closed

[2019-03-23 20:10] tugrul commented on #73
`gyp ERR! stack Error: Can't find Python executable "python", you can set the PYTHON env variable.`

Your environment is incomplete. You have to install python and ms build tools.

https://github.com/nodejs/node-gyp#on-windows

[2019-03-23 20:10] #73 closed

[2019-03-23 20:12] tugrul commented on #69
It looks like locale specific problem.

[2019-03-23 20:12] #69 closed

[2019-03-23 20:14] tugrul commented on #63
`gyp ERR! stack Error: self signed certificate in certificate chain`

Please check your root ca certificates.

[2019-03-23 20:14] #63 closed

[2019-03-23 20:15] #46 closed

[2019-03-23 20:17] #42 closed

[2019-03-23 20:21] #48 closed

[2019-05-04 17:44] ronovar opened #81 "when i run i get error: cannot open shared object file: No such file or directory"
Hi, when i run node-mcrypt on PC it runs OK and works. So i switched to arm arhictecture armv7 and need tutorial how to cross compile it to run on armv7 archictecture so if you could give me web site or write short tutorial how to cross compile node-mcrypt for arm?

I searched internet but i did not find detail instructions how to do that.

Thanks

[2019-05-05 13:22] tugrul commented on #81
do you have compiler toolchain on arm device?

I tested before it had worked on raspberry pi.

[2019-05-05 17:48] ronovar commented on #81
I have NanoPI Neo2 with 1GB of RAM

http://wiki.friendlyarm.com/wiki/index.php/NanoPi_NEO2

How can i check if i have toolchain on arm device? I im new to toolchain so if you please could guide me how to compile for arm or any web site that have nice tutorial how to do it.

[2019-05-05 17:55] tugrul commented on #81
This issue is not subject of project. You can just use google to find.

You can install `sudo apt-get install build-essential` if your Nano PI OS is debian based. https://askubuntu.com/questions/398489/how-to-install-build-essential

[2019-05-05 17:55] #81 closed

[2019-05-23 20:05] tugrul commented on #12
This feature is implemented in new library named [cryptian](https://github.com/tugrul/cryptian)

[2019-05-23 20:05] #12 closed

[2019-06-10 03:27] dirname opened #82 "Use Pkcs7 or other padding."
I want to use pkcs7 in my __Twofish__ encryption. But there's no way to set it up to be inappropriate for zeros padding. I try to apply __cryptian__. It's not supported __Twofish__.Hope to get your help.

Thank you.

[2019-06-10 14:59] tugrul commented on #82
I'm going to try to port **twofish** inside **cryptian** library in free time.

In this time you can use encryption algorithm from **node-mcrypt** and padding algorithm from **cryptian**.

Padding algorithms of **cryptian** are flexible to use standalone.

Thanks

[2019-06-11 02:13] dirname commented on #82
I just use mcrypt to solved my problem.Padding in before encryption. When the length equals the length of the block, it will not automatically zeros padding.

Thank you again for your efforts.

[2019-06-11 23:30] #82 closed

[2019-07-14 12:36] #80 closed

[2019-07-14 12:36] #79 closed

[2019-07-14 12:38] #77 closed

[2019-07-14 12:40] tugrul commented on #64
Can you try new library [cryptian](https://github.com/tugrul/cryptian) then open a new issue on cryptian

[2019-07-14 12:40] #64 closed

[2019-07-18 23:42] joebowbeer commented on #77
The binding.gyp will pose a problem for Lambda. Search for articles such as [How to Run Native Addon Modules for Node.js in AWS Lambda](https://blog.usejournal.com/how-to-run-native-addon-modules-for-node-js-in-aws-lambda-aa74e1a9010).

[2019-07-19 03:38] anhnguyen72 commented on #62
Try to use node version 8.11.1

[2019-08-15 10:40] moe-mahdiani opened #83 "mcrypt is not working using typescript and webpack"

[2019-12-31 10:21] SSANSH opened #84 "Cannot use mcrypt with node 12.14.0 latest LTS."
logs produce by npm i

`./src/mcrypt.cc: At global scope:
../src/mcrypt.cc:503:19: error: variable or field ‘Init’ declared void
  503 | void MCrypt::Init(Handle<Object> exports) {
      |                   ^~~~~~
../src/mcrypt.cc:503:19: error: ‘Handle’ was not declared in this scope
../src/mcrypt.cc:503:32: error: expected primary-expression before ‘>’ token
  503 | void MCrypt::Init(Handle<Obje

[2020-01-07 12:31] tugrul commented on #84
I published a version to npm but I offer you to use cryptian package

[2020-01-07 12:31] #84 closed

[2020-01-24 20:52] leantorres73 commented on #83
I have the same issue.. @moe-mahdiani  How did you fix it?

[2020-01-29 10:18] himanshusinghs opened #85 "(macos catalina) npm install mcrypt fails - vector.h not found"
### Environment specifications
- macOs Catalina (Version 10.15.2)
- Xcode Version 11.3.1 (11C504)
- Node installed using [nvm](https://github.com/nvm-sh/nvm)
  - Node Version - v6.17.1
  - npm version - v3.10.10

### Debug log towards the end of npm install
[code]

From what I see from debug log all I can understand is that vector.h, a dependency is missing on my system. Have already installed com

[2020-01-29 10:20] himanshusinghs commented on #85
@tugrul Any comment on this behaviour?

[2020-01-29 13:12] tugrul commented on #85
Did you try to use https://github.com/tugrul/cryptian

[2020-01-29 13:25] himanshusinghs commented on #85
No I haven't yet. Will try that and report as soon as I something with that.

[2020-03-23 10:14] himanshusinghs commented on #85
Haven't finished testing this yet. Feel free to close, I will reopen once I am on it again.

[2020-03-23 10:49] #85 closed, assigned to nobody